@{
    ViewData["Title"] = "habitacion52";
}
<link href="https://fonts.cdnfonts.com/css/ionic-charge" rel="stylesheet">
<body class="bodyGame">
    <main class="game">
        @{
            string url = "/images/rooms/sala52" + ViewBag.estadoSalaID + ".jpg";
        }
        <img src="@url" class="mainimg">

        <!--CAMBIO DE POSICION-->
        <a href='@Url.Action("Habitacion", "Home", new{sala=51})' class="arrow arrow5251" tabindex="-1"></a>

        <!-- HITBOX DE LOS BOTONES -->
        <a href='@Url.Action("BotonesCaja", "Home", new{num=1})' class="hitbox hitboxCaja1 botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("BotonesCaja", "Home", new{num=2})' class="hitbox hitboxCaja2 botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("BotonesCaja", "Home", new{num=3})' class="hitbox hitboxCaja3 botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("BotonesCaja", "Home", new{num=4})' class="hitbox hitboxCaja4 botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("BotonesCaja", "Home", new{num=5})' class="hitbox hitboxCaja5 botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("BotonesCaja", "Home", new{num=6})' class="hitbox hitboxCaja6 botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("BotonesCaja", "Home", new{num=7})' class="hitbox hitboxCaja7 botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("BotonesCaja", "Home", new{num=8})' class="hitbox hitboxCaja8 botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("BotonesCaja", "Home", new{num=9})' class="hitbox hitboxCaja9 botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("CajaEnter", "Home")' class="hitbox hitboxCajaEnter botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("BotonesCaja", "Home", new{num=0})' class="hitbox hitboxCaja0 botonCaja" tabindex="-1"></a>
        <a href='@Url.Action("CajaBackspace", "Home")' class="hitbox hitboxCajaBackspace botonCaja" tabindex="-1"></a>

        <!-- CODIGO DE LA CAJA FUERTE -->
        <p class="codigoCaja">@ViewBag.codigoCaja</p>

        <!-- HITBOX DEL MARCADOR ROJO -->
        <a href='@Url.Action("Marcador", "Home", new{sala=52, marcador="rojo"})' class="hitbox hitboxRojo2" tabindex="-1"></a>
    </main>
    @{
        if (ViewBag.error == true)
        {
            <head>
                <meta http-equiv="refresh" content="2; url=@Url.Action("Habitacion", "Home", new{sala=52})" />
            </head>
            <div class="errorMessage">
                <h1>ERROR</h1>
            </div>
        }

        if (ViewBag.estadoSalaID == 2 || ViewBag.estadoSalaID == 3)
        {
            <style>
                .botonCaja{
                    right: 100vw;
                    left: -100vw;
                }
                .hitboxRojo2{
                    top: 29.2vh;
                    right: 22vw;
                }
            </style>
        }
        
        if (ViewBag.estadoSalaID == 2)
        {
            <!-- LLAVES -->
            <a href='@Url.Action("Llaves", "Home", new{sala=2})' class="hitbox hitboxLlave2" tabindex="-1"></a>
        }
    }
</body>