<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Data Breach - @ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/site.css">
        <script type="text/javascript" src="~/js/site.js"></script>
    </head>

@{
    string title = ViewData["Title"].ToString();
    string sala = title.Substring(title.Length - 2, 2);

    <!-- VOLVER AL MENU -->
    if (title == "contrasena")
    {
        <nav class="gameMenu">
            <a href='@Url.Action("ConfirmarMenu", "Home", new{sala = ViewBag.salaAnteriorID})' class="button">Menú Principal</a>
        </nav>
    }
    else if (title == "victoria")
    {
        <nav class="gameMenu">
            <a href='@Url.Action("Index", "Home")' class="button">Menú Principal</a>
        </nav>
    }
    else
    {
        <nav class="gameMenu">
            <a href='@Url.Action("ConfirmarMenu", "Home", new{sala = ViewBag.salaID})' class="button">Menú Principal</a>
        </nav>
    }

    string style;
    if (ViewBag.mostrarPistas != null && ViewBag.mostrarPistas) style = "display: flex;";
    else style = "display: none;";

    <!-- PISTAS -->
    if (ViewBag.pista != null && title != "contrasena")
    {
    <div class="pistasButton">
        @if (style == "display: none;")
        {
            <a href='@Url.Action("Pistas", "Home", new{sala})' class="button">Pistas</a>
        }
        else
        {
            <a href='@Url.Action("Pistas", "Home", new{sala})' class="button">Cerrar</a>
        }
    </div>
    <div id="pistas" class="pistas" style="@style">
        <a href='@Url.Action("Pistas", "Home", new{sala})' class="cerrarPistas">x</a>
        <div class="pistasTexto">
            @ViewBag.pista
        </div>
        <div class="pistasBotones">
            <a href='@Url.Action("Pistas", "Home", new{sala, boton=-1})' class="button">Atrás</a>
            <a href='@Url.Action("Pistas", "Home", new{sala, boton=1})' class="button">Adelante</a>
        </div>
    </div>
    }
}
    <!-- FRAMEWORK MAGIC -->
    @await RenderSectionAsync("Scripts", required: false)
    @RenderBody()
</html>
