<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Data Breach</title>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <!-- VOLVER AL MENU -->
    <nav class="gameMenu">
        <a href='@Url.Action("Index", "Home")' class="button">Menú Principal</a>
    </nav>
    <!-- PISTAS -->
    <div class="pistasButton">
        <a href='@Url.Action("pajero", "Home")' class="button">Pistas</a>
    </div>
    <div class="pistas">
        <div>
            <p>Necesitas encontrar una contraseña para la puerta. ¿Quizás está guardada en esa computadora?</p>
        </div>
        <div>
            <a href='@Url.Action("pajero", "Home")' class="button">Atrás</a>
            <a href='@Url.Action("pajero", "Home")' class="button">Adelante</a>
        </div>
    </div>

    <!-- FRAMEWORK MAGIC -->
    @await RenderSectionAsync("Scripts", required: false)
    @RenderBody()

@{
    /*if(ViewBag.cerrar=true)
    {
        <style>
            .pistas{
            right:100vw;
        </style>
        }
    }*/
}
</html>
