@{
    ViewData["Title"] = "habitacion11";
}
<body class="bodyGame">
    <main class="game">
        @{
            string url = "/images/rooms/sala11" + ViewBag.estadoSalaID + ".jpg";
        }
        <img src="@url" class="mainimg">

        <!-- FLECHAS DE CAMBIO DE HABITACION -->
        <a href='@Url.Action("Habitacion", "Home", new{sala=21, salaAnterior=11, estadoMin=3, contrasenaAceptada=1})' class="arrow arrow1121" tabindex="-1"></a> <!--arrow12 = flecha desde la habitacion 1, posicion 1 a la habitacion 2, posicion 1-->

        <!-- DE CAMBIO DE POSICION -->
        <a href='@Url.Action("Habitacion", "Home", new{sala=12})' class="hitbox hitbox1112" tabindex="-1"></a>
        <a href='@Url.Action("Habitacion", "Home", new{sala=13})' class="hitbox hitbox1113" tabindex="-1"></a>

        <!-- HITBOX DEL MARCADOR VERDE -->
        <a href='@Url.Action("Marcador", "Home", new{sala=11, marcador="verde"})' class="hitbox hitboxVerde" tabindex="-1"></a>
    </main>
@{
    if (ViewBag.estadoSalaID == 2)
    {
        <style>
            .hitbox1112{
                left: 22.5vw;
                top: 39.5vh;
            }
            .hitbox1113{
                left: 68.5vw;
                top: 50.5vh;
            }
            .hitboxVerde
            {
                height: 0.8vh;
                width: 4.2vw;
                top: 95.2vh;
                right: 33.6vw;
            }
        </style>
    }
    else if (ViewBag.estadoSalaID == 3)
    {
        <style>
            .hitbox1112
            {
                height: 10.5vh;
                width: 10vw;
                top: 38.5vh;
                left: 24.6vw;
            }
            .hitbox1113{
                left: 70.5vw;
            }
            .hitboxVerde
            {
                height: 0.8vh;
                width: 4.2vw;
                top: 92.65vh;
                right: 31.6vw;
            }
        </style>
    }
    if (ViewBag.error == true)
    {
        <head>
            <meta http-equiv="refresh" content="2; url=@Url.Action("Habitacion", "Home", new{sala=11})" />
        </head>
        <div class="errorMessage">
            <h1>ERROR</h1>
        </div>
    }
}
</body>