@{
    ViewData["Title"] = "habitacion21";
}

<main class="game">
    <img src="/images/rooms/sala212.jpg" class="mainimg">

    <!--FLECHAS DE CAMBIO DE HABITACION-->
    <a href='@Url.Action("Habitacion", "Home", new{sala=41})' class="arrow arrow2141"></a>
    <a href='@Url.Action("Habitacion", "Home", new{sala=11})' class="arrow arrow2111"></a>
    <a href='@Url.Action("Habitacion", "Home", new{sala=31})' class="arrow arrow2131"></a>

    <!--CAMBIO DE POSICION-->
    <a href='@Url.Action("Habitacion", "Home", new{sala=22})' class="hitbox hitbox2122"></a>

    <!--ESCAPAR-->
    <a href='@Url.Action("Victoria", "Home")' class="arrow arrow2161"></a> <!--6 = escapar--> <!--TO DO-->
</main>