@{
    ViewData["Title"] = "habitacion21";
}
<body class="bodyGame">
    <main class="game">
        @{
            string url = "/images/rooms/sala21" + ViewBag.estadoSalaID + ".jpg";
        }
        <img src="@url" class="mainimg">

        <!--FLECHAS DE CAMBIO DE HABITACION-->
        <a href='@Url.Action("Habitacion", "Home", new{sala=41, salaAnterior=21, estadoMin=7, contrasenaAceptada=3})' class="arrow arrow2141" tabindex="-1"></a></a>
        <a href='@Url.Action("Habitacion", "Home", new{sala=11})' class="arrow arrow2111" tabindex="-1"></a>
        <a href='@Url.Action("Habitacion", "Home", new{sala=31})' class="arrow arrow2131" tabindex="-1"></a>

        <!--CAMBIO DE POSICION-->
        <a href='@Url.Action("Habitacion", "Home", new{sala=22})' class="hitbox hitbox2122" tabindex="-1"></a>

        <!--ESCAPAR-->
        <a href='@Url.Action("Victoria", "Home")' class="arrow arrow2161" tabindex="-1"></a> <!--6 = escapar-->

        @{
            if (ViewBag.estadoSalaID == 1)
            {
                <style>
                    .hitbox2122{
                        right: 100vw;
                    }
                </style>
            }
            else if (ViewBag.estadoSalaID == 3)
            {
                <style>
                    .hitbox2122
                    {
                        height: 8vh;
                        width: 7.5vw;
                        top: 41.3vh;
                        right: 30.9vw;
                    }
                    .arrow2131{
                        left: 6vw;
                        top: 35vh;
                    }
                    .arrow2161{
                        right: 11vw;
                        top: 35vh;
                    }
                </style>
            }
            else if (ViewBag.estadoSalaID == 4)
            {
                <style>
                    .hitbox2122
                    {
                        height: 8vh;
                        width: 8.2vw;
                        top: 46vh;
                    }
                    .arrow2111{
                        left: 3.2vw;
                    }
                    .arrow2131{
                        top: 38.5vh;
                    }
                    .arrow2161{
                        top: 38.5vh;
                        right: 13.5vw;
                    }
                </style>
            }
            if (ViewBag.error == true)
            {
                <head>
                    <meta http-equiv="refresh" content="2; url=@Url.Action("Habitacion", "Home", new{sala=21})" />
                </head>
                <div class="errorMessage">
                    <h1>ERROR</h1>
                </div>
            }
        }
    </main>
</body>